*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    width: 1000px;
    margin: auto;
    padding: 30px;
    background-color: rgb(165, 191, 177);
}
/* .............style of Header section............... */
header{
    width: 1000px;
    height: 200px;
    background-color: rgb(211, 229, 227);
    display: flex;
    border-radius: 15PX;
    border: 2PX solid rgb(160, 154, 154);
    margin: 30px 0 30px 0;
}
div img{ 
    width: 170px;
    height: 170px;
    margin: 15PX;
    border-radius: 50%;
    border: 2px dotted rgb(235, 231, 231);
}
div span{
    font-size: 20px;
    font-weight: bold;
}
p{
    margin: 30px;
    line-height: 2em;
}
/* ................style of the main section .....................*/
main{
    display: flex;
    justify-content: space-between;
}
h1{
    margin: 0.5em;
    background-color: rgb(177, 188, 186);
    padding: 7px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
}
ul li{
    margin-left: 25px;
}
.skills{
    width: 300px;
    height: 1000px;
    background-color: rgb(211, 229, 227);
    border-radius: 15px;
    border: 2PX solid rgb(160, 154, 154);
    padding: 30px;
    line-height: 2em;
    box-sizing: border-box;
}
.profile{
    width: 670px;
    height: 1000px;
    background-color: rgb(211, 229, 227);
    border-radius: 15px;
    border: 2PX solid rgb(160, 154, 154);
    box-sizing: border-box;
    padding: 20px;
    line-height: 2em;
}
